html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    box-sizing: border-box;
}


/* Global */

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: #FBFBFB;
    min-height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
}

a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    position: relative;
}

.title {
    font-family: 'Arsenal', sans-serif;
    font-weight: 700;
    color: #34312D;
    font-size: 35px;
    line-height: 120%;
}

section {
    position: relative;
    z-index: 0;
}

.ornament {
    position: absolute;
    z-index: -1;
}

.ornament-1 {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.ornament-2 {
    left: 0;
    bottom: 10%;
}

.ornament-3 {
    left: 0;
    bottom: 40%;
}

.ornament-4 {
    right: 0;
    bottom: 20%;
}

.ornament-5 {
    right: 0;
    top: 20%;
}

.ornament-6 {
    left: 0;
    top: 40%;
}

.ornament-7 {
    right: 0;
    bottom: 0;
}

/**************** ****************   
**************** **************** 
        Index
**************** ****************  
**************** ****************  */
/* Header */
.header {
    position: relative;
    z-index: 100;
}

.return {
    position: absolute;
    display: block;
    z-index: 10;
    font-weight: 700;
    font-size: 19px;
    line-height: 140%;
    color: #FFFFFF;
    left: 10%;
    top: 30px;
    padding-left: 30px;
}

.return::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../images/arrow-back.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
}

.return-black {
    color: #2F3734;
}


.return-black::after {
    background-image: url('../images/arrow-back-black.svg');
}

.header__container {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.header__links-cover {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    align-items: end;
    gap: 20px;
    overflow: hidden;
    height: 90%;
    width: 100%;
    justify-content: center;
    padding: 0 15px;
}

.header__link {
    position: absolute;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 0;
    width: 580px;
}

.header__link span {
    background: rgba(255, 255, 255, 0.09);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header__link img {
    position: absolute;
    z-index: -1;
    bottom: -741%;
    width: 100%;
    height: auto;
    transition: .4s all;
    border-radius: 20px;
}

.header__link-img.active {
    bottom: 0 !important;
    transition: .4s all;
}

.header__video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 100vh;
    pointer-events: none;
}

.header__video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #000;
    z-index: 0;
    pointer-events: none;
    object-fit: cover;
}

@media (min-aspect-ratio: 16/9) {
    .header__video-wrapper {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .header__video-wrapper {
        width: 300%;
        left: -100%;
    }
}


/* Links */

.links {
    padding-bottom: 136px;
    padding-top: 72px;
}

.links__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.links__item {
    position: relative;
    display: block;
    max-width: 580px;
    max-height: 580px;
}

.links__item img {
    width: 100%;
    height: auto;
}

.links__item span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #FFFFFF;
}

.ornament-main-1 {
    left: 0;
    bottom: 0;
}

.ornament-main-2 {
    right: 0;
    top: 0;
}


@media (max-width: 1230px) {
    .links__wrapper {
        flex-direction: column;
    }
}

/**************** ****************   
**************** **************** 
        TOURISM
**************** ****************  
**************** ****************  */
/* Header */

.header__slider-box {
    position: relative;
}

.header__slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.header__slider-img {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background: #000;
}

.header__slider-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .8;
}

.header__slider-text-cover {
    position: absolute;
    z-index: 6;
    color: #fff;
    max-width: 580px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__slider-title {
    font-family: 'Arsenal';
    font-weight: 700;
    font-size: 70px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 39px;
}

.header__slider-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
}

.header__slider-box .slick-dots {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 7px;
}

.header__slider-box .slick-dots .slick-active button {
    background: #fff;
}

.header__slider-box .slick-dots button {
    color: transparent;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
    width: 18px;
    height: 18px;
}


/* gallery */
.gallery {
    margin-top: 67px;
}

.gallery__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.gallery__item {
    width: 380px;
    max-height: 308px;
    border-radius: 20px;
    overflow: hidden;
    display: block;
}

.gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.section__title {
    margin-bottom: 50px;
}

.gallery__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.gallery_btn {
    margin-top: 55px;
    border: 2px solid #77521A;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #77521A;
    padding: 15px 67px 13px 67px;
    background: transparent;
    cursor: pointer;
}

/* Gallery Video */
.gallery.grey {
    background: #F8F8F8;
    padding: 53px 0;
}

.gallery__box.videos .gallery__item {
    position: relative;
}

.gallery__box.videos .gallery__item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .4;
}

.gallery__box.videos .gallery__item::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/play.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
}

/* Info */

.info {
    margin-top: 53px;
    padding-bottom: 157px;
}

.info__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.info__item {
    position: relative;
}

.info__item-img {
    max-width: 580px;
    max-height: 392px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.info__item-img::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(360deg, rgba(66, 67, 69, 0.94) 0%, rgba(0, 0, 0, 0) 88.01%);
}

.info__item-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.info__item-text {
    font-weight: 700;
    font-size: 19px;
    line-height: 120%;
    color: #FFFFFF;
    width: 347px;
}

.info__item-inner {
    position: absolute;
    z-index: 10;
    bottom: 35px;
    left: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.info__item-link {
    position: relative;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #C9C9C9;
    padding-right: 20px;
}

.info__item-link::after {
    content: '';
    position: absolute;
    background-image: url('../images/download.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 10px;
    height: 16px;
    right: 0;
}


/**************** ****************   
**************** **************** 
        Investments
**************** ****************  
**************** ****************  */

/* Editors */
.editors {
    margin-top: 50px;
    margin-bottom: 115px;
}

.editors__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editors__box {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.editors__item {
    display: block;
    max-width: 380px;
    height: 394px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: .4s all;
}

.editors__item:hover::before {
    background: rgba(56, 63, 65, 0.66);
}

.editors__item:hover>.editors__inner {
    bottom: 37px;
}

.editors__item:hover>.editors__text {
    bottom: 270px;
    transition: .4s all;
}

.editors__item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(1.39deg, #383F41 1.18%, rgba(81, 81, 81, 0) 67.94%);
    transition: .4s all;
}

.editors__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.editors__text {
    position: absolute;
    bottom: 37px;
    /* top: 57px; */
    left: 28px;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    text-decoration: none;
    width: 219px;
    transition: .4s all;
}

.editors__inner {
    position: absolute;
    left: 28px;
    color: #fff;
    bottom: -100%;
    transition: .4s all;
}

.editors__inner-text {
    height: 200px;
    font-weight: 300;
    max-width: 329px;
    font-size: 15px;
    line-height: 140%;
    padding-right: 10px;
    color: #CCCCCC;
}

.editors__inner-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    position: relative;
    padding-right: 30px;
}

.editors__inner-link::after {
    content: '';
    position: absolute;
    right: 0;
    top: 55%;
    transform: translateY(-50%);
    width: 16px;
    height: 11px;
    background-image: url('../images/editors-arrow.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Insights */
.insights {
    padding: 62px 0;
    margin: 50px 0;
}

.insights.grey {
    background: #F8F8F8;
}

.ornament-insights-1 {
    left: 0;
    bottom: 10%;
}

.ornament-insights-2 {
    right: 0;
    bottom: -10%;
}

.insights__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.insights__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #77521A;
    text-decoration: none;
    padding-right: 25px;
    position: relative;
}

.insights__link::after {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    width: 15px;
    height: 10px;
    transform: translateY(-50%);
    background-image: url('../images/arrow.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.insights__box {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.insights__main {
    max-width: 480px;
}

.insights__main p {
    font-size: 15px;
    line-height: 140%;
    color: #979798;
}

.insights__main-img {
    max-width: 480px;
    max-height: 418px;
    border-radius: 20px;
    overflow: hidden;
}

.insights__main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shadow {
    position: relative;
}

.shadow::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(1.39deg, #383F41 1.18%, rgba(81, 81, 81, 0) 67.94%);
}

.insights__main-title {
    max-width: 480px;
    margin: 18px 0 10px 0;
}

.insights__main-link {
    display: flex;
    justify-content: end;
    margin-top: 18px;
}

.insights__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.insights__item {
    display: flex;
}

.insights__item-img {
    width: 249px;
    height: 228px;
    border-radius: 20px;
    overflow: hidden;
}

.insights__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.insigths__item-text__cover {
    margin-left: 20px;
    max-width: 371px;
}

.insigths__item-text__cover p {
    font-size: 15px;
    line-height: 140%;
    color: #979798;
}

.insights__item-title {
    margin-bottom: 13px;
}

.insights__item-link {
    display: flex;
    justify-content: end;
    margin-top: 24px;
}

.insights__inner-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #2F3734;
}

.text {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #979798;
}

/* Interviews */

.interviews {
    padding: 50px 0;
}

.ornament-interviews-1 {
    bottom: 0;
    right: 20px;
}

.interviews__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interviews__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.interviews__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 32px 81px;
    border-radius: 20px;
    text-decoration: none;
}

.interviews__item-img {
    display: block;
    max-width: 218px;
    height: 218px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 18px;
}

.interviews__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.interviews__item-name {
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    color: #2F3734;
    display: block;
    margin-bottom: 12px;
    text-align: center;
    width: 222px;
}

.interviews__item-rank {
    font-size: 15px;
    line-height: 140%;
    color: #979798;
    display: inline-block;
    width: 165px;
    text-align: center;
}

.interviews__item-rank.texts {
    /* width: 165px; */
}


/**************** ****************   
**************** **************** 
        Post
**************** ****************  
**************** ****************  */
/* Post */
.post {
    padding-top: 62px;
}

.post__wrapper {
    padding-bottom: 50px;
}

.post__box {
    display: flex;
}

.post__content {
    max-width: 700px;
    padding-left: 43px;
    border-left: 1px solid rgba(43, 46, 52, 0.14);
}

.post__img {
    max-width: 700px;
    max-height: 400px;
    overflow: hidden;
    border-radius: 20px;
}

.post__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.post__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #2F3734;
    max-width: 437px;
    padding-right: 37px;
    padding-bottom: 37px;
    border-bottom: 1px solid rgba(43, 46, 52, 0.14);
}

.post__description {
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    color: #2F3734;
    margin-top: 26px;
    margin-bottom: 19px;
}

.post__text {
    font-size: 15px;
    line-height: 140%;
    color: #979798;
}

.post__wrapper p,
.post__wrapper p span {
    font-size: 15px;
    line-height: 140%;
    color: #979798;
}

.post__wrapper h3,
.post__wrapper h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    color: #2F3734;
}

.post__wrapper h2 {
    padding-top: 15px;
}

.post__info {
    padding-right: 37px;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    color: #2F3734;
}

.post__info h3 {
    padding-bottom: 37px;
    border-bottom: 1px solid rgba(43, 46, 52, 0.14);
}

.post__info p {
    margin-top: 15px;
}

.post__content h3 {
    margin-top: 26px;
    margin-bottom: 19px;
}

.post__content h2 {
    padding-bottom: 15px;
}


.ornament-post-1 {
    top: 10%;
}

.ornament-post-2 {
    top: 0;
    right: 0;
}

.ornament-post-3 {
    left: 20%;
    top: 30%;
}

.ornament-post-4 {
    right: 1%;
    top: 25%;
}

.ornament-post-5 {
    bottom: 20%;
    left: 0;
}

.ornament-post-6 {
    right: 0;
    bottom: 0;
}

/**************** ****************   
**************** **************** 
        News
**************** ****************  
**************** ****************  */
.news {
    padding: 46px 0;
}

.ornament-news-1 {
    right: 0;
}

.ornament-news-2 {
    bottom: 10%;
}

.news__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.news__item {
    color: #979798;
    text-decoration: none;
    font-size: 15px;
    line-height: 140%;
    color: #979798;
    font-weight: 300px;

}

.news__item-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: block;
}

.news__item-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.news__item-title {
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
    color: #2F3734;
    display: block;
    margin-top: 17px;
    margin-bottom: 8px;
}

.news__item-link {
    position: relative;
    display: flex;
    justify-content: end;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #77521A;
    padding-right: 30px;
    margin-top: 15px;
}

.news__item-link::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../images/arrow.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 15px;
    height: 11px;
}

/* Nav */
.news__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.news__nav-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #979798;
    text-decoration: none;
}

.news__nav-list__link.active {
    background: #77521A;
    color: #fff;
}

/* Mobile */
@media (max-width: 1260px) {
    .gallery__box {
        grid-template-columns: 1fr 1fr;
    }

    .info__box {
        grid-template-columns: 1fr;
    }

    .editors {
        margin-bottom: 0;
    }

    .insights__box {
        flex-direction: column;
        align-items: center;
    }

    .insights__list {
        width: 100%;
    }

    .insights__item-img {
        width: 100%;
        max-width: 100%;
    }

    .insigths__item-text__cover {
        max-width: 60%;
    }

    .interviews__box {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



    .insights__main {
        max-width: 100%;
    }

    .insights__main-img {
        max-width: 100%;
    }

    .insights__item-img img {
        height: 100%;
    }

    .news__list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1220px) {
    .interviews__box {
        flex-direction: column;
    }
}

@media(max-width: 1200px) {
    .editors__box {
        flex-direction: column;
    }
}

@media(max-width: 1150px) {

    .ornament-post-3 {
        left: 20%;
        top: 30%;
        display: none;
    }

    .ornament-post-4 {
        right: 1%;
        top: 25%;
        display: none;
    }

    .ornament-post-5 {
        bottom: 20%;
        left: 0;
        display: none;
    }

    .ornament-post-6 {
        right: 0;
        bottom: 0;
        display: none;
    }

    .post__box {
        flex-direction: column;
        align-items: center;
    }

    .post__title {
        text-align: center;
        padding-right: 0;
    }

    .post__content {
        padding-top: 30px;
    }
}

@media (max-width: 840px) {
    body {
        overflow-x: hidden;
    }

    .ornament-insights-1 {
        display: none;
    }

    .gallery__box {
        grid-template-columns: 1fr;
        padding: 0 15px;
    }

    .gallery__item {
        max-width: 350px;
        max-height: 290px;
        width: auto;
    }

    .interviews__box {
        grid-template-columns: 1fr;
    }

    .news__list {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 660px) {
    .header__slider-text {
        margin-top: 25px;
        font-size: 13px;
    }

    .header__link {
        font-size: 20px;
    }
}

@media (max-width: 590px) {
    .insights__item {
        flex-direction: column;
    }

    .insigths__item-text__cover {
        max-width: 100%;
    }

    .insights__inner-title {
        margin-top: 10px;
    }
}

@media (max-width: 400px) {
    .insights__title {
        flex-direction: column;
        font-size: 30px;
    }

    .interviews__item {
        padding-right: 30px;
        padding-left: 30px;
    }

    .header__slider-title {
        font-size: 50px;
    }

    .header__slider-text {
        font-size: 10px;
    }

    .ornament-6 {
        display: none;
    }
}